@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #a1b8ce;
  --color-textLightBlue: #AAE1FF;
  --color-bghovermodal: #2D3649;
  --color-lightgray: #f0f0f0;
  --color-bgdarkblue: #566a8f;
  --color-bgtextdark: #4d5d81;
  --color-textlight: #f4fdff;
  --color-gold: #eeba49;
  --color-bgpagelight: #b4c3d6;
  --color-bluecustom: #91a5c2;
  --color-equipCommon: text-gray-500;
  --color-equipRare: text-blue-400;
  --color-equipEpic: #eeba49;
  --color-equipLegendary: text-purple-500;
  --color-equipAncient: #D4646F;

  --shadow-dark-blue: 0 0 1px 3px #415870;
  --border-width-3: 3px;
}


/* Se você usa variáveis CSS em estilos inline, sobrescreve aqui */
/* .safe-colors {
  --color-primary: #a1b8ce !important;
  --color-textLightBlue: #AAE1FF !important;
  --color-bghovermodal: #2D3649 !important;
  --color-lightgray: #f0f0f0 !important;
  --color-bgdarkblue: #566a8f !important;
  --color-bgtextdark: #4d5d81 !important;
  --color-textlight: #f4fdff !important;
  --color-gold: #eeba49 !important;
  --color-bgpagelight: #b4c3d6 !important;
  --color-bluecustom: #91a5c2 !important;
  --color-equipEpic: #eeba49 !important;
  --color-equipAncient: #D4646F !important;
  --shadow-dark-blue: 0 0 1px 3px #415870 !important;
  --border-width-3: 3px !important;
}

.safe-colors,
.safe-colors * {
  background-color: #a1b8ce !important;
  color: black !important;
  box-shadow: none !important;
  text-shadow: none !important;
  filter: none !important;
} */


.text-shadow-title {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.text-shadow-login {
  text-shadow: 2px 2px 3px rgba(111, 112, 89, 0.1);
}

.text-outline-xs {
  text-shadow: 0 0 0.5px #000;
}

.text-outline-sm {
  text-shadow: 0 0 1px #000;
}

.text-outline-md {
  text-shadow: 0 0 2px #000;
}

.text-outline-lg {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* scrollbar hidden */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari e Opera */
}